/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "../stylesheets/slick-theme.css";
@import "../stylesheets/slick.css";
@import url('https://fonts.googleapis.com/css?family=Oswald');

// @import "//cdn.jsdelivr.net/foundation/4.0.2/css/foundation.min.css";
// @import "//datatables.github.com/Plugins/integration/foundation/dataTables.foundation.css";

/** TRANSITIONS  **/

//usage: @include lw-transition($type: all, $duration: .3s, $easing: ease-out);
@mixin lw-transition($type: false, $duration: false, $easing: false) { 
    -webkit-transition: $type $duration $easing;
    -moz-transition: $type $duration $easing;
    -ms-transition: $type $duration $easing;
    -o-transition: $type $duration $easing;
    transition: $type $duration $easing;
}

//usage: @include lw-transform-origin ($amount: 100% -41.8%);
@mixin lw-transform-origin( $amount: false ){
	transform-origin: $amount;
	-webkit-transform-origin:$amount;
	-moz-transform-origin: $amount;
	-o-transform-origin: $amount;
}

//usage: @include lw-transform ($content: scale(.8) );
@mixin lw-transform ( $content: false){
	transform: $content;
	-webkit-transform: $content;
	-moz-transform: $content;
	-o-transform: $content;
}

//usage: @include lw-text-shadow ($content: 0px 0px 11px black );
@mixin lw-text-shadow ( $content: false){
	text-shadow: $content;
	-webkit-text-shadow: $content;
	-moz-text-shadow: $content;
	-o-text-shadow: $content;
}


/*
 * GLOBAL STYLES
 */
 

$lw_light_green_color: #336161;
$lw_normal_green_color: #307474;
$lw_dark_green_color: #384d4d;
$lw_yellow_green_color: #9acd32;

* {
	margin: 0;
}
html, body {	
    height: 100%; /*original fixed height*/
	width: 100%;
	// background-image: url(../uploads/big-one.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	z-index: 1;

	font-family: 'Oswald', sans-serif;
}
body, a{
	color: $lw_dark_green_color;
}
a{
	@include lw-transition($type: all, $duration: .4s, $easing: ease-out);
	outline: none !important;

	&:hover{
		color: black;

		span.last{
			left: 0px;
		}
	}
	&:focus,
	&:active{
		color: $lw_dark_green_color;
	}

	span{
		// @include lw-transition($type: all, $duration: .2s, $easing: ease-out);
		position: relative;
		z-index: 3;

		&.first{
			color: $lw_normal_green_color;

			&.with-shadow{
				@include lw-text-shadow ($content: 0px 0px 11px black );
			}
			
			&.no-shadow{
				@include lw-text-shadow ($content: none !important );
			}
		}
		&.last{
			color: white;
			left: -3px;

			&.with-shadow{
				@include lw-text-shadow ($content: 0px 0px 11px black );
			}
			
			&.no-shadow{
				@include lw-text-shadow ($content: none !important );
			}
		}
	}
}
.button{
	background: $lw_dark_green_color;
	color: white;

	&:hover{
		background: $lw_light_green_color;
	}
}
p{
	margin: 10px 0px;
	font-family: arial;
    line-height: initial;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
	perspective: 25px;

	#main-content{
		margin-bottom: 150px;
		margin-top: 50px;

		.tags-wrap{
			p{
				margin-right: 5px;
			}
		}
	}
	
	
}
.inner-wrap{
	position: absolute;
	min-height: 100%;
	height: 100%; /*original fixed height*/
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	top: 0px;
	left: 0px;
}
footer, .push {
// border: 1px solid #ff00ff;
  height: 50px; /* '.push' must be the same height as 'footer' */
}

.overlay{
	background:rgba(255, 255, 255, 0.46);
	height: 100%;
	min-height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
    left: 0px;
    z-index: -2;
}
#overlay-bg{
	
	&.is-home{
		background-image: url(../uploads/big-one.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&.not-home{
		background: rgb(179,190,173);
		background: -moz-linear-gradient(top, rgba(179,190,173,1) 0%, rgba(223,229,215,1) 69%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(top, rgba(179,190,173,1) 0%,rgba(223,229,215,1) 69%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom, rgba(179,190,173,1) 0%,rgba(223,229,215,1) 69%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3bead', endColorstr='#ffffff',GradientType=0 );
	}

	// overflow: hidden;
	height: 100%;
	min-height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
    left: 0px;
	z-index: -3;
	
	@include lw-transition($type: all, $duration: 1s, $easing: ease-in);
	
	
}

h1,
h2,
h3 {
	font-weight: bold;
}

h1 { font-size: 30px; padding: 10px;}
h2 { font-size: 25px; padding: 10px;}
h3 { font-size: 20px; padding: 10px;}
h4 { font-size: 15px; padding: 10px;}


.thumb {
	max-width: 100px;
	max-height: 100px;
}

.bold-font {
	font-weight: bold;
}

.warning-font {
	font-style: italic;
	color: red;
	font-weight: bold;
}

.floating-label {
	position: absolute;
	padding: 10px;
	background: #ff00009c;
	color: white;
	margin: 5px;
}

.lw-padding-all-0{
	padding: 0px !important;
}
.lw-padding-left-0{
	padding-left: 0px !important;
}
.lw-padding-right-0{
	padding-right: 0px !important;
}
.lw-padding-top-0{
	padding-top: 0px !important;
}
.lw-padding-bottom-0{
	padding-bottom: 0px !important;
}


// HEADER
.lw-top-nav {
	position: relative;
	z-index: 3;
	text-transform: uppercase;

	background: -moz-linear-gradient(top, rgba(106, 136, 93, 0.29) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(106, 136, 93, 0.29) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(106, 136, 93, 0.29) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a000000', endColorstr='#00000000',GradientType=0 );

	.lw-header-navigations-wrap{
		
		// &:hover{
			background: -moz-linear-gradient(30deg, rgba(255,255,255,0) 71%, rgba(255,255,255,0) 72%, rgba(255,255,255,0.71) 100%);
			background: -webkit-linear-gradient(30deg, rgba(255,255,255,0) 71%,rgba(255,255,255,0) 72%,rgba(255,255,255,0.71) 100%);
			background: linear-gradient(30deg, rgba(255,255,255,0) 71%,rgba(255,255,255,0) 72%,rgba(255,255,255,0.71) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b5ffffff',GradientType=1 );
		// }

		ul.lw-header-navigations-left{
			li{
				a.nav-item{
					padding: 10px;
					display: inline-block;
					overflow: hidden;
					position: relative;
					color: white;
					
					span{
						@include lw-transition($type: all, $duration: .4s, $easing: ease-out);
					}
					&:after{
						background-color: $lw_light_green_color;
						content: "";
						height: 100%;
						left: 0;
						position: absolute;
						top: 0;
						width: 100%;
						z-index: 2;

						@include lw-transform ($content: translate3d(0, -100% ,0) );
						@include lw-transition($type: transform, $duration: .5s, $easing: cubic-bezier(.56,.12,.06,1.69) );

					}
					
					&:hover:after {
						@include lw-transform ($content: translateZ(0) );
					}

				

					&:hover{
						background-position: 100% 0 ;
						
						span{
							
							&.first{
								color: white !important;
							} 
							&.last{
								color: $lw_yellow_green_color !important;
							}
						}
					}
				}
				#lw-animated-logo-wrap{
					width: 56px;
				}
			}
		}
		ul.lw-header-navigations-right{
			li{
				// padding: 5px;
				a{
					top: 7px;
					padding: 5px;
					display: inline-block;
					overflow: hidden;
					position: relative;

					&.hollow{
						margin: -15px 10px 0px 0px;
					}
					
					&:after{
						background-color: $lw_dark_green_color;
						content: "";
						height: 100%;
						left: 0;
						position: absolute;
						top: 0;
						width: 100%;
						z-index: 2;
						@include lw-transform ($content: translate3d(110%, 0%, 0) );
						@include lw-transition($type: transform, $duration: .5s, $easing: cubic-bezier(.56,.12,.06,1.69) );
		
					}
					
					&:hover:after {
						@include lw-transform ($content: translateZ(0) );
					}
					
					&:hover{
						background-position: 100% 0 ;
							color: white;
					}
				}
			}
		}
	}

}
 
//TABS
.tabs-title>a:focus, .tabs-title>a[aria-selected=true]{
	background: $lw_dark_green_color;
	color: white;

}
.tabs-title>a:hover{
	background: #ccc !important;
	color: $lw_dark_green_color !important;
}


// QUOTES
.lw-quote-wrap{
	position: absolute;
	z-index: 2;
	padding: 120px;
	// background-color: white;
	// box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
	
	@include lw-transition($type: transform, $duration: 0.5s, $easing: cubic-bezier(.25,1.54,.54,1.56) );
	 
	a{
		padding: 6px 8px 8px 4px;
		border-radius: 5px;
		position: absolute;
		font-size: 2vmax;	
		
		&.author{
			bottom: 0px;
			right: 0px;
		}
		&.add-quote{
			top: 0px;
			right: 0px;
			padding: 5px 10px 5px 10px;
			color: white;
			background: $lw_dark_green_color;
			opacity: .5;

			&:hover{
				opacity: 1;
				background: $lw_dark_green_color;
			}
		}
		&:hover{
			color: $lw_yellow_green_color !important;
			background: $lw_dark_green_color;
		}
	}
	span{

		&.text{
			font-size: 5vmax;
		}
	}

	.lw-quote-slider{
		width: 55vmax !important;
		text-align: center;
		
		.slider-single-content{
			padding: 30px;
		}
		// .slick-next {
		// 	right: -15%;
		// }.slick-prev {
		// 	left: -34%;
		// }

		// .slick-prev, .slick-next{
			
		// 	&::before{
		// 		font-size: 121px;
		// 	}
			
		// 	&:hover{
		// 		&::before{
		// 			transition: transform 2s;
		// 			-webkit-transition: transform 2s;
		// 			-moz-transition: transform 2s;
		// 			-o-transition: transform 2s;
		// 			font-size: 151px;
		// 		}
		// 	}
		// }

		// $easing: cubic-bezier(.25,1.54,.54,1.56);
		// $duration: .5s;

		.arrow {
			width: 6vmin;
			height: 6vmin;
			box-sizing:  border-box;
			position: absolute;
			top: 50%;
			cursor: pointer;
			opacity: .3;

			&::before {
				content: '';
				width: 100%;
				height: 100%;
				border-width: .8vmin .8vmin 0 0;
				border-style: solid;
				border-color: #fafafa;
				border-radius: 2px;
				display: block;
				opacity: 1;
				
				@include lw-transform-origin ($amount: 100% -41.8%);
				// transform-origin: 100% -41.8%;
				// -webkit-transform-origin:100% -41.8%;
				// -moz-transform-origin: 100% -41.8%;
				// -o-transform-origin: 100% -41.8%;

				@include lw-transition($type: all, $duration: 0.5s, $easing: cubic-bezier(.25,1.54,.54,1.56));

				// transition: all $duration $easing;
				// -webkit-transition: all $duration $easing;
				// -moz-transition: all $duration $easing;
				// -o-transition: all $duration $easing;
			}

			
			&:after {
				content: '';
				float: left;
				position: relative;
				top: -100%;
				width: 100%;
				height: 100%;
				border-width: 0 .8vmin 0 0;
				border-style: solid;
				border-color: #fafafa;
				border-radius: 2px;
				opacity: 1;

				@include lw-transform-origin ($amount: 100% -0);
				// transform-origin: 100% 0;
				// -webkit-transform-origin:100% 0;
				// -moz-transform-origin: 100% 0;
				// -o-transform-origin: 100% 0;

				@include lw-transition($type: all, $duration: 0.5s, $easing: cubic-bezier(.25,1.54,.54,1.56));
			}

			&.prev{
				left: -10%;
				@include lw-transform( $content: rotate(-135deg) );
				
				&:hover{
					opacity: 1;
				}
				&:hover::after {
					@include lw-transform( $content: rotate(45deg) );
					border-color: $lw_dark_green_color;
					height: 120%;
				}
				&:hover::before {
					border-color: $lw_dark_green_color;
					@include lw-transform( $content: scale(.8) );
				}
			}
			&.next{
				right: -10%;
				@include lw-transform( $content: rotate(45deg) );
				
				&:hover{
					opacity: 1;
				}
				&:hover::after {
					@include lw-transform( $content: rotate(45deg) );

					border-color: $lw_dark_green_color;
					height: 120%;
				}
				&:hover::before {
					@include lw-transform( $content: scale(.8) );

					border-color: $lw_dark_green_color;
					
				}
			}
		
		
		
		
	 	}
	}
}

//MEMBERS PAGE
.lw-members-wrap{
	margin-bottom: 120px;
	margin-top: 50px;
}

// EVENTS PAGE
.lw-events-page {
	

	.font-bold-underline {
		font-weight: bold;
		font-style: underline;
	}

	.li_button {
		padding: 0px;
	}

	a.toggleBtn {
		/* display: block; */
		float: left;
		padding: 10px;
		width: 100%;
		height: 100%;
	}

	label.payment-method>input {
		visibility: hidden;
		position: absolute;
	}

	label.payment-method>input+img {
		cursor: pointer;
		padding: 10px;
	}

	label.payment-method>input+img:hover {
		background: #ccc;
	}

	label.payment-method>input:checked+img {
		background: yellow;
	}
}


// FOOTER SPECIFIC
.lw-footer {
	z-index: 2;
    position: relative;
	text-transform: uppercase;
	// margin-top: 150px;

	.bg-footer{
		z-index: 2;
		position: inherit;
		height: 200px;
		width: 100% !important;
		padding: 0px 20px 20px 20px;
		margin-top: -200px;
	
		&.is-home{
			bottom: 0px !important;
			padding: 0px !important;

			background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, transparent 0%, rgba(0, 0, 0, 0.88) 100%);
			background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, transparent 0%, rgba(0, 0, 0, 0.88) 100%); 
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, transparent 0%, rgba(0, 0, 0, 0.88) 100%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
		}
		&.not-home{
			background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, transparent 70%, rgb(185, 198, 180) 0%);
			background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, transparent 70%, rgb(185, 198, 180) 0%); 
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, transparent 70%, rgb(185, 198, 180) 0%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
		}
	}

	.is-home{
		bottom: 10px;
		position: absolute;
		width: 97%;
	}
	.logo{
		width: 114px !important;
		
		.first-layer,
		.second-layer,
		.third-layer{
			.letters{
				float: left;
				font-size: 8.7vmin;
			}
		}
	}
	.lw-footer-navigations-inside{
		bottom: 10px;
		position: absolute;
		padding: 0px;
	}
	.lw-footer-navigations{
		
		a{
			color: white;
			padding: 10px;
			display: inline-block;
			overflow: hidden;
			position: relative;
			
			span{
				@include lw-transition($type: all, $duration: .4s, $easing: ease-out);
			}

			&:after{
				background-color: $lw_dark_green_color;
				content: "";
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 2;
				@include lw-transform ($content: translate3d(0, 100% ,0) );
				@include lw-transition($type: transform, $duration: .5s, $easing: cubic-bezier(.56,.12,.06,1.69) );

			}
			
			&:hover:after {
				@include lw-transform ($content: translateZ(0) );
			}

			&:hover{
				background-position: 0 100% ;
				
				span{
					
					&.first{
						color: white !important;
					} 
					&.last{
						color: $lw_yellow_green_color !important;
					}
				}
			}
		}
	}

}

//animated logo
#lw-animated-logo-wrap{
	@include lw-transition($type: all, $duration: .3s, $easing: ease-out);

	.st0{fill:#FFFFFF;  opacity: 0; @include lw-transition($type: all, $duration: .3s, $easing: ease-out);}
	.st1{fill:#14191D;}
	.st2{fill:#6A7E83;}
	.st3{fill:#A3C2CD;}
	.st4{fill:#E9ECEA;}
	.st5{fill:#DBDFDD;}
	.st6{fill:#CED1D0;}
	.st7{fill:#CBA648;}
	.st8{fill:#BF2126;}
	.st9{fill:#E81F25;}
	.st10{fill:#F16F6F;}
	.st11{fill:#7EBFE9;}
	.st12{fill:#FFD12D;}
	.st13{fill:#F5C929;}
	.st14{fill:#69662A;}
	.st15{fill:#E0E2E1;}
	.st16{fill:#F2C222;}
	.st17{fill:#C9B32E;}
	.st18{fill:#C8B22E;}
	.st19{fill:#5489A7;}
	.st20{fill:#D6E0E3;}
	.st21{fill:#2C4959;}
	.st22{fill:#D7D2C4;}
	.st23{fill:#F7D55E;}

	&:hover{
		.st0{
			opacity: 0.4
		}
	}
}

//animated text logo
#lw-animated-text-logo-wrap{
	.st0{fill:$lw_dark_green_color;}
}

 