/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(../stylesheets/slick-theme.css);
@import url(../stylesheets/slick.css);
@import url("https://fonts.googleapis.com/css?family=Oswald");
/* line 5, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/** TRANSITIONS  **/
/*
 * GLOBAL STYLES
 */
/* line 60, ../sass/screen.scss */
* {
  margin: 0;
}

/* line 63, ../sass/screen.scss */
html, body {
  height: 100%;
  /*original fixed height*/
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 1;
  font-family: 'Oswald', sans-serif;
}

/* line 75, ../sass/screen.scss */
body, a {
  color: #384d4d;
}

/* line 78, ../sass/screen.scss */
a {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  outline: none !important;
}
/* line 82, ../sass/screen.scss */
a:hover {
  color: black;
}
/* line 85, ../sass/screen.scss */
a:hover span.last {
  left: 0px;
}
/* line 89, ../sass/screen.scss */
a:focus, a:active {
  color: #384d4d;
}
/* line 94, ../sass/screen.scss */
a span {
  position: relative;
  z-index: 3;
}
/* line 99, ../sass/screen.scss */
a span.first {
  color: #307474;
}
/* line 102, ../sass/screen.scss */
a span.first.with-shadow {
  text-shadow: 0px 0px 11px black;
  -webkit-text-shadow: 0px 0px 11px black;
  -moz-text-shadow: 0px 0px 11px black;
  -o-text-shadow: 0px 0px 11px black;
}
/* line 106, ../sass/screen.scss */
a span.first.no-shadow {
  text-shadow: none !important;
  -webkit-text-shadow: none !important;
  -moz-text-shadow: none !important;
  -o-text-shadow: none !important;
}
/* line 110, ../sass/screen.scss */
a span.last {
  color: white;
  left: -3px;
}
/* line 114, ../sass/screen.scss */
a span.last.with-shadow {
  text-shadow: 0px 0px 11px black;
  -webkit-text-shadow: 0px 0px 11px black;
  -moz-text-shadow: 0px 0px 11px black;
  -o-text-shadow: 0px 0px 11px black;
}
/* line 118, ../sass/screen.scss */
a span.last.no-shadow {
  text-shadow: none !important;
  -webkit-text-shadow: none !important;
  -moz-text-shadow: none !important;
  -o-text-shadow: none !important;
}

/* line 124, ../sass/screen.scss */
.button {
  background: #384d4d;
  color: white;
}
/* line 128, ../sass/screen.scss */
.button:hover {
  background: #336161;
}

/* line 132, ../sass/screen.scss */
p {
  margin: 10px 0px;
  font-family: arial;
  line-height: initial;
}

/* line 138, ../sass/screen.scss */
.wrapper {
  min-height: 100%;
  margin: 0 auto -50px;
  /* the bottom margin is the negative value of the footer's height */
  perspective: 25px;
}
/* line 143, ../sass/screen.scss */
.wrapper #main-content {
  margin-bottom: 150px;
  margin-top: 50px;
}
/* line 148, ../sass/screen.scss */
.wrapper #main-content .tags-wrap p {
  margin-right: 5px;
}

/* line 156, ../sass/screen.scss */
.inner-wrap {
  position: absolute;
  min-height: 100%;
  height: 100%;
  /*original fixed height*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  top: 0px;
  left: 0px;
}

/* line 168, ../sass/screen.scss */
footer, .push {
  height: 50px;
  /* '.push' must be the same height as 'footer' */
}

/* line 173, ../sass/screen.scss */
.overlay {
  background: rgba(255, 255, 255, 0.46);
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}

/* line 183, ../sass/screen.scss */
#overlay-bg {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -3;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
/* line 185, ../sass/screen.scss */
#overlay-bg.is-home {
  background-image: url(../uploads/big-one.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 192, ../sass/screen.scss */
#overlay-bg.not-home {
  background: #b3bead;
  background: -moz-linear-gradient(top, #b3bead 0%, #dfe5d7 69%, white 100%);
  background: -webkit-linear-gradient(top, #b3bead 0%, #dfe5d7 69%, white 100%);
  background: linear-gradient(to bottom, #b3bead 0%, #dfe5d7 69%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3bead', endColorstr='#ffffff',GradientType=0 );
}

/* line 214, ../sass/screen.scss */
h1,
h2,
h3 {
  font-weight: bold;
}

/* line 220, ../sass/screen.scss */
h1 {
  font-size: 30px;
  padding: 10px;
}

/* line 221, ../sass/screen.scss */
h2 {
  font-size: 25px;
  padding: 10px;
}

/* line 222, ../sass/screen.scss */
h3 {
  font-size: 20px;
  padding: 10px;
}

/* line 223, ../sass/screen.scss */
h4 {
  font-size: 15px;
  padding: 10px;
}

/* line 226, ../sass/screen.scss */
.thumb {
  max-width: 100px;
  max-height: 100px;
}

/* line 231, ../sass/screen.scss */
.bold-font {
  font-weight: bold;
}

/* line 235, ../sass/screen.scss */
.warning-font {
  font-style: italic;
  color: red;
  font-weight: bold;
}

/* line 241, ../sass/screen.scss */
.floating-label {
  position: absolute;
  padding: 10px;
  background: #ff00009c;
  color: white;
  margin: 5px;
}

/* line 249, ../sass/screen.scss */
.lw-padding-all-0 {
  padding: 0px !important;
}

/* line 252, ../sass/screen.scss */
.lw-padding-left-0 {
  padding-left: 0px !important;
}

/* line 255, ../sass/screen.scss */
.lw-padding-right-0 {
  padding-right: 0px !important;
}

/* line 258, ../sass/screen.scss */
.lw-padding-top-0 {
  padding-top: 0px !important;
}

/* line 261, ../sass/screen.scss */
.lw-padding-bottom-0 {
  padding-bottom: 0px !important;
}

/* line 267, ../sass/screen.scss */
.lw-top-nav {
  position: relative;
  z-index: 3;
  text-transform: uppercase;
  background: -moz-linear-gradient(top, rgba(106, 136, 93, 0.29) 0%, transparent 100%);
  background: -webkit-linear-gradient(top, rgba(106, 136, 93, 0.29) 0%, transparent 100%);
  background: linear-gradient(to bottom, rgba(106, 136, 93, 0.29) 0%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a000000', endColorstr='#00000000',GradientType=0 );
}
/* line 277, ../sass/screen.scss */
.lw-top-nav .lw-header-navigations-wrap {
  background: -moz-linear-gradient(30deg, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 72%, rgba(255, 255, 255, 0.71) 100%);
  background: -webkit-linear-gradient(30deg, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 72%, rgba(255, 255, 255, 0.71) 100%);
  background: linear-gradient(30deg, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 72%, rgba(255, 255, 255, 0.71) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b5ffffff',GradientType=1 );
}
/* line 288, ../sass/screen.scss */
.lw-top-nav .lw-header-navigations-wrap ul.lw-header-navigations-left li a.nav-item {
  padding: 10px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  color: white;
}
/* line 295, ../sass/screen.scss */
.lw-top-nav .lw-header-navigations-wrap ul.lw-header-navigations-left li a.nav-item span {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* line 298, ../sass/screen.scss */
.lw-top-nav .lw-header-navigations-wrap ul.lw-header-navigations-left li a.nav-item:after {
  background-color: #336161;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  -webkit-transition: transform 0.5s cubic-bezier(0.56, 0.12, 0.06, 1.69);
  -moz-transition: transform 0.5s cubic-bezier(0.56, 0.12, 0.06, 1.69);
  -ms-transition: transform 0.5s cubic-bezier(0.56, 0.12, 0.06, 1.69);
  -o-transition: transform 0.5s cubic-bezier(0.56, 0.12, 0.06, 1.69);
  transition: transform 0.5s cubic-bezier(0.56, 0.12, 0.06, 1.69);
}
/* line 313, ../sass/screen.scss */
.lw-top-nav .lw-header-navigations-wrap ul.lw-header-navigations-left li a.nav-item:hover:after {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
}
/* line 319, ../sass/screen.scss */
.lw-top-nav .lw-header-navigations-wrap ul.lw-header-navigations-left li a.nav-item:hover {
  background-position: 100% 0;
}
/* line 324, ../sass/screen.scss */
.lw-top-nav .lw-header-navigations-wrap ul.lw-header-navigations-left li a.nav-item:hover span.first {
  color: white !important;
}
/* line 327, ../sass/screen.scss */
.lw-top-nav .lw-header-navigations-wrap ul.lw-header-navigations-left li a.nav-item:hover span.last {
  color: #9acd32 !important;
}
/* line 333, ../sass/screen.scss */
.lw-top-nav .lw-header-navigations-wrap ul.lw-header-navigations-left li #lw-animated-logo-wrap {
  width: 56px;
}
/* line 341, ../sass/screen.scss */
.lw-top-nav .lw-header-navigations-wrap ul.lw-header-navigations-right li a {
  top: 7px;
  padding: 5px;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
/* line 348, ../sass/screen.scss */
.lw-top-nav .lw-header-navigations-wrap ul.lw-header-navigations-right li a.hollow {
  margin: -15px 10px 0px 0px;
}
/* line 352, ../sass/screen.scss */
.lw-top-nav .lw-header-navigations-wrap ul.lw-header-navigations-right li a:after {
  background-color: #384d4d;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  transform: translate3d(110%, 0%, 0);
  -webkit-transform: translate3d(110%, 0%, 0);
  -moz-transform: translate3d(110%, 0%, 0);
  -o-transform: translate3d(110%, 0%, 0);
  -webkit-transition: transform 0.5s cubic-bezier(0.56, 0.12, 0.06, 1.69);
  -moz-transition: transform 0.5s cubic-bezier(0.56, 0.12, 0.06, 1.69);
  -ms-transition: transform 0.5s cubic-bezier(0.56, 0.12, 0.06, 1.69);
  -o-transition: transform 0.5s cubic-bezier(0.56, 0.12, 0.06, 1.69);
  transition: transform 0.5s cubic-bezier(0.56, 0.12, 0.06, 1.69);
}
/* line 366, ../sass/screen.scss */
.lw-top-nav .lw-header-navigations-wrap ul.lw-header-navigations-right li a:hover:after {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
}
/* line 370, ../sass/screen.scss */
.lw-top-nav .lw-header-navigations-wrap ul.lw-header-navigations-right li a:hover {
  background-position: 100% 0;
  color: white;
}

/* line 382, ../sass/screen.scss */
.tabs-title > a:focus, .tabs-title > a[aria-selected=true] {
  background: #384d4d;
  color: white;
}

/* line 387, ../sass/screen.scss */
.tabs-title > a:hover {
  background: #ccc !important;
  color: #384d4d !important;
}

/* line 394, ../sass/screen.scss */
.lw-quote-wrap {
  position: absolute;
  z-index: 2;
  padding: 120px;
  -webkit-transition: transform 0.5s cubic-bezier(0.25, 1.54, 0.54, 1.56);
  -moz-transition: transform 0.5s cubic-bezier(0.25, 1.54, 0.54, 1.56);
  -ms-transition: transform 0.5s cubic-bezier(0.25, 1.54, 0.54, 1.56);
  -o-transition: transform 0.5s cubic-bezier(0.25, 1.54, 0.54, 1.56);
  transition: transform 0.5s cubic-bezier(0.25, 1.54, 0.54, 1.56);
}
/* line 403, ../sass/screen.scss */
.lw-quote-wrap a {
  padding: 6px 8px 8px 4px;
  border-radius: 5px;
  position: absolute;
  font-size: 2vmax;
}
/* line 409, ../sass/screen.scss */
.lw-quote-wrap a.author {
  bottom: 0px;
  right: 0px;
}
/* line 413, ../sass/screen.scss */
.lw-quote-wrap a.add-quote {
  top: 0px;
  right: 0px;
  padding: 5px 10px 5px 10px;
  color: white;
  background: #384d4d;
  opacity: .5;
}
/* line 421, ../sass/screen.scss */
.lw-quote-wrap a.add-quote:hover {
  opacity: 1;
  background: #384d4d;
}
/* line 426, ../sass/screen.scss */
.lw-quote-wrap a:hover {
  color: #9acd32 !important;
  background: #384d4d;
}
/* line 433, ../sass/screen.scss */
.lw-quote-wrap span.text {
  font-size: 5vmax;
}
/* line 438, ../sass/screen.scss */
.lw-quote-wrap .lw-quote-slider {
  width: 55vmax !important;
  text-align: center;
}
/* line 442, ../sass/screen.scss */
.lw-quote-wrap .lw-quote-slider .slider-single-content {
  padding: 30px;
}
/* line 471, ../sass/screen.scss */
.lw-quote-wrap .lw-quote-slider .arrow {
  width: 6vmin;
  height: 6vmin;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  cursor: pointer;
  opacity: .3;
}
/* line 480, ../sass/screen.scss */
.lw-quote-wrap .lw-quote-slider .arrow::before {
  content: '';
  width: 100%;
  height: 100%;
  border-width: .8vmin .8vmin 0 0;
  border-style: solid;
  border-color: #fafafa;
  border-radius: 2px;
  display: block;
  opacity: 1;
  transform-origin: 100% -41.8%;
  -webkit-transform-origin: 100% -41.8%;
  -moz-transform-origin: 100% -41.8%;
  -o-transform-origin: 100% -41.8%;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.54, 0.54, 1.56);
  -moz-transition: all 0.5s cubic-bezier(0.25, 1.54, 0.54, 1.56);
  -ms-transition: all 0.5s cubic-bezier(0.25, 1.54, 0.54, 1.56);
  -o-transition: all 0.5s cubic-bezier(0.25, 1.54, 0.54, 1.56);
  transition: all 0.5s cubic-bezier(0.25, 1.54, 0.54, 1.56);
}
/* line 506, ../sass/screen.scss */
.lw-quote-wrap .lw-quote-slider .arrow:after {
  content: '';
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 .8vmin 0 0;
  border-style: solid;
  border-color: #fafafa;
  border-radius: 2px;
  opacity: 1;
  transform-origin: 100% 0;
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.54, 0.54, 1.56);
  -moz-transition: all 0.5s cubic-bezier(0.25, 1.54, 0.54, 1.56);
  -ms-transition: all 0.5s cubic-bezier(0.25, 1.54, 0.54, 1.56);
  -o-transition: all 0.5s cubic-bezier(0.25, 1.54, 0.54, 1.56);
  transition: all 0.5s cubic-bezier(0.25, 1.54, 0.54, 1.56);
}
/* line 528, ../sass/screen.scss */
.lw-quote-wrap .lw-quote-slider .arrow.prev {
  left: -10%;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
}
/* line 532, ../sass/screen.scss */
.lw-quote-wrap .lw-quote-slider .arrow.prev:hover {
  opacity: 1;
}
/* line 535, ../sass/screen.scss */
.lw-quote-wrap .lw-quote-slider .arrow.prev:hover::after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border-color: #384d4d;
  height: 120%;
}
/* line 540, ../sass/screen.scss */
.lw-quote-wrap .lw-quote-slider .arrow.prev:hover::before {
  border-color: #384d4d;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
}
/* line 545, ../sass/screen.scss */
.lw-quote-wrap .lw-quote-slider .arrow.next {
  right: -10%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
/* line 549, ../sass/screen.scss */
.lw-quote-wrap .lw-quote-slider .arrow.next:hover {
  opacity: 1;
}
/* line 552, ../sass/screen.scss */
.lw-quote-wrap .lw-quote-slider .arrow.next:hover::after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border-color: #384d4d;
  height: 120%;
}
/* line 558, ../sass/screen.scss */
.lw-quote-wrap .lw-quote-slider .arrow.next:hover::before {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  border-color: #384d4d;
}

/* line 574, ../sass/screen.scss */
.lw-members-wrap {
  margin-bottom: 120px;
  margin-top: 50px;
}

/* line 583, ../sass/screen.scss */
.lw-events-page .font-bold-underline {
  font-weight: bold;
  font-style: underline;
}
/* line 588, ../sass/screen.scss */
.lw-events-page .li_button {
  padding: 0px;
}
/* line 592, ../sass/screen.scss */
.lw-events-page a.toggleBtn {
  /* display: block; */
  float: left;
  padding: 10px;
  width: 100%;
  height: 100%;
}
/* line 600, ../sass/screen.scss */
.lw-events-page label.payment-method > input {
  visibility: hidden;
  position: absolute;
}
/* line 605, ../sass/screen.scss */
.lw-events-page label.payment-method > input + img {
  cursor: pointer;
  padding: 10px;
}
/* line 610, ../sass/screen.scss */
.lw-events-page label.payment-method > input + img:hover {
  background: #ccc;
}
/* line 614, ../sass/screen.scss */
.lw-events-page label.payment-method > input:checked + img {
  background: yellow;
}

/* line 621, ../sass/screen.scss */
.lw-footer {
  z-index: 2;
  position: relative;
  text-transform: uppercase;
}
/* line 627, ../sass/screen.scss */
.lw-footer .bg-footer {
  z-index: 2;
  position: inherit;
  height: 200px;
  width: 100% !important;
  padding: 0px 20px 20px 20px;
  margin-top: -200px;
}
/* line 635, ../sass/screen.scss */
.lw-footer .bg-footer.is-home {
  bottom: 0px !important;
  padding: 0px !important;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, transparent 0%, rgba(0, 0, 0, 0.88) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, transparent 0%, rgba(0, 0, 0, 0.88) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, transparent 0%, rgba(0, 0, 0, 0.88) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
/* line 644, ../sass/screen.scss */
.lw-footer .bg-footer.not-home {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, transparent 70%, #b9c6b4 0%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, transparent 70%, #b9c6b4 0%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, transparent 70%, #b9c6b4 0%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
/* line 652, ../sass/screen.scss */
.lw-footer .is-home {
  bottom: 10px;
  position: absolute;
  width: 97%;
}
/* line 657, ../sass/screen.scss */
.lw-footer .logo {
  width: 114px !important;
}
/* line 663, ../sass/screen.scss */
.lw-footer .logo .first-layer .letters,
.lw-footer .logo .second-layer .letters,
.lw-footer .logo .third-layer .letters {
  float: left;
  font-size: 8.7vmin;
}
/* line 669, ../sass/screen.scss */
.lw-footer .lw-footer-navigations-inside {
  bottom: 10px;
  position: absolute;
  padding: 0px;
}
/* line 676, ../sass/screen.scss */
.lw-footer .lw-footer-navigations a {
  color: white;
  padding: 10px;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
/* line 683, ../sass/screen.scss */
.lw-footer .lw-footer-navigations a span {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* line 687, ../sass/screen.scss */
.lw-footer .lw-footer-navigations a:after {
  background-color: #384d4d;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  -webkit-transition: transform 0.5s cubic-bezier(0.56, 0.12, 0.06, 1.69);
  -moz-transition: transform 0.5s cubic-bezier(0.56, 0.12, 0.06, 1.69);
  -ms-transition: transform 0.5s cubic-bezier(0.56, 0.12, 0.06, 1.69);
  -o-transition: transform 0.5s cubic-bezier(0.56, 0.12, 0.06, 1.69);
  transition: transform 0.5s cubic-bezier(0.56, 0.12, 0.06, 1.69);
}
/* line 701, ../sass/screen.scss */
.lw-footer .lw-footer-navigations a:hover:after {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
}
/* line 705, ../sass/screen.scss */
.lw-footer .lw-footer-navigations a:hover {
  background-position: 0 100%;
}
/* line 710, ../sass/screen.scss */
.lw-footer .lw-footer-navigations a:hover span.first {
  color: white !important;
}
/* line 713, ../sass/screen.scss */
.lw-footer .lw-footer-navigations a:hover span.last {
  color: #9acd32 !important;
}

/* line 724, ../sass/screen.scss */
#lw-animated-logo-wrap {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 727, ../sass/screen.scss */
#lw-animated-logo-wrap .st0 {
  fill: #FFFFFF;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 728, ../sass/screen.scss */
#lw-animated-logo-wrap .st1 {
  fill: #14191D;
}
/* line 729, ../sass/screen.scss */
#lw-animated-logo-wrap .st2 {
  fill: #6A7E83;
}
/* line 730, ../sass/screen.scss */
#lw-animated-logo-wrap .st3 {
  fill: #A3C2CD;
}
/* line 731, ../sass/screen.scss */
#lw-animated-logo-wrap .st4 {
  fill: #E9ECEA;
}
/* line 732, ../sass/screen.scss */
#lw-animated-logo-wrap .st5 {
  fill: #DBDFDD;
}
/* line 733, ../sass/screen.scss */
#lw-animated-logo-wrap .st6 {
  fill: #CED1D0;
}
/* line 734, ../sass/screen.scss */
#lw-animated-logo-wrap .st7 {
  fill: #CBA648;
}
/* line 735, ../sass/screen.scss */
#lw-animated-logo-wrap .st8 {
  fill: #BF2126;
}
/* line 736, ../sass/screen.scss */
#lw-animated-logo-wrap .st9 {
  fill: #E81F25;
}
/* line 737, ../sass/screen.scss */
#lw-animated-logo-wrap .st10 {
  fill: #F16F6F;
}
/* line 738, ../sass/screen.scss */
#lw-animated-logo-wrap .st11 {
  fill: #7EBFE9;
}
/* line 739, ../sass/screen.scss */
#lw-animated-logo-wrap .st12 {
  fill: #FFD12D;
}
/* line 740, ../sass/screen.scss */
#lw-animated-logo-wrap .st13 {
  fill: #F5C929;
}
/* line 741, ../sass/screen.scss */
#lw-animated-logo-wrap .st14 {
  fill: #69662A;
}
/* line 742, ../sass/screen.scss */
#lw-animated-logo-wrap .st15 {
  fill: #E0E2E1;
}
/* line 743, ../sass/screen.scss */
#lw-animated-logo-wrap .st16 {
  fill: #F2C222;
}
/* line 744, ../sass/screen.scss */
#lw-animated-logo-wrap .st17 {
  fill: #C9B32E;
}
/* line 745, ../sass/screen.scss */
#lw-animated-logo-wrap .st18 {
  fill: #C8B22E;
}
/* line 746, ../sass/screen.scss */
#lw-animated-logo-wrap .st19 {
  fill: #5489A7;
}
/* line 747, ../sass/screen.scss */
#lw-animated-logo-wrap .st20 {
  fill: #D6E0E3;
}
/* line 748, ../sass/screen.scss */
#lw-animated-logo-wrap .st21 {
  fill: #2C4959;
}
/* line 749, ../sass/screen.scss */
#lw-animated-logo-wrap .st22 {
  fill: #D7D2C4;
}
/* line 750, ../sass/screen.scss */
#lw-animated-logo-wrap .st23 {
  fill: #F7D55E;
}
/* line 753, ../sass/screen.scss */
#lw-animated-logo-wrap:hover .st0 {
  opacity: 0.4;
}

/* line 761, ../sass/screen.scss */
#lw-animated-text-logo-wrap .st0 {
  fill: #384d4d;
}
